---
stages:
  - test
  - deploy
  - pages
  - release

variables:
  GIT_DEPTH: 0

test:
  image:
    name: denoland/deno:1.46.3
  stage: test
  script:
    - deno task test

lint:
    image:
      name: denoland/deno:1.46.3
    stage: test
    allow_failure: true
    script:
      - deno test -q --check --no-run
      - deno fmt -q --check

dokku-deploy:
  image:
    name: dokku/ci-docker-image
  stage: deploy
  only:
    - main
  variables:
    GIT_REMOTE_URL: ssh://dokku@dokku.ams.bastilian.me:22/bastilian-me-deno
    GIT_PUSH_FLAGS: --force
  script:
    - dokku-deploy

deno-deploy:
  image:
    name: denoland/deno:1.46.3
  stage: deploy
  only:
    - main
  script:
    - bash && deno install --global -Arf jsr:@deno/deployctl
    - bash && deno task build
    - bash && deployctl deploy --prod --project=bastilian-me main.ts

release_job:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  script:
    - echo "running release_job for $TAG"
  release:
    tag_name: 'v$CI_COMMIT_SHORT_SHA'
    description: 'v$CI_COMMIT_SHORT_SHA'
    ref: '$CI_COMMIT_SHA'

pages:
  only:
    - main
  image:
    name: denoland/deno:1.46.3
  stage: pages
  script:
    - mkdir -p public
    - deno task test && mv coverage/html ./public/coverage
    - deno task docs && mv docs ./public/docs
  artifacts:
    paths:
      - public
