body {
  font-family: Helvetica Neue, Dejavu Sans, Arial, sans-serif;
  font-size: 1.1em;
  background: #1E1E24;
  color: #CCCCCC;
}

a {
  color: inherit;
}

a:hover {
  color: #F8C630;
  transition: all ease-out 250ms;
}

p {
  line-height: 1.4em;
}

strong {
  font-weight: bold;
}

header {
  line-height: 1.5em;
}


h2 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2em;
}

.main-info {
}

.vcard-names .aka {
}
.social-accounts {
  margin: .5em 0;
}
.social-accounts li {
}
.social-accounts li a {
  font-size: 1.5em;
  color: #717C89;
}

.social-accounts li a:hover {
  color: #F8C630;
  transition: all ease-out 250ms;
}

.social-accounts .social-link {
  display: none;
}

.vcard h1 {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.2em;
  color: #41D3BD;
}

.vcard h1 a {
  text-decoration: none;
}

.vcard .image {}
.vcard .image a {}
.vcard .image img {
  overflow: hidden;
}

.vcard .job {
  font-weight: bold;
}
.activity-feed {}
.activity-feed h2 {
  color: #FF4E00;
}

.activity-post {
  line-height: 1.3em;
}

.activity-post img {}
.activity-post-content {}
.youtube-video {
  margin: 0;
}
.youtube-video iframe {}

.activity-post-meta {
  font-size: .8em;
  color: #717C89;
}

.activity-post-meta a {
  text-decoration: none;
}

.photos h2 { color: #66e800; }

footer {
  font-size: .95em;
}
